<form action="/notes" method="post">
  Title: <input type="text" name="title"><br>
  Content:<br>
  <textarea name="content"></textarea><br>
  <input type="submit" value="Save">
</form>

<hr>

<h1>All Notes</h1>

<ul>
    <% @notes.each do |note| %>
    <li><a href=<%= "/notes/#{note.id}" %>><%= note.title %></a></li>
    <p><%= note.content %></p>
    <% end %>
</ul>

